<%= form_for @alumno, :html => { :multipart => true} do |f| %>
<% if @alumno.errors.any? %>
<div class="alert-box row alert">
	<a href="" class="close">×</a>
	<p>
		Verifique los datos que ha ingresado
	</p>
</div>
<% end %>
<fieldset >
	<legend>
		Datos del Alumno
	</legend>
	<div class="row">
		<div class="two columns">
			<label class="right inline">NC:</label>
		</div>
		<div class="ten columns">
			<%= f.text_field :nc , :required=>true,:placeholder=>"Ingresa tu Numero de Control"%>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="two columns">
			<label class="right inline">Nombre:</label>
		</div>
		<div class="ten columns">
			<%= f.text_field :nombre , :required=>true,:placeholder=>"Nombre del Alumno"%>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="two columns">
			<label class="right inline">Email:</label>
		</div>
		<div class="ten columns">
			<%= f.email_field :email, :required=>true ,:placeholder=>"ejemplo@correo.com"%>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="two columns">
			<label class="right inline">Fotografía:</label>
		</div>
		<div class="ten columns">
			<%= f.file_field :avatar%>
			<%= f.hidden_field :avatar_cache %>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="two columns">
			<label class="right inline">Contraseña:</label>
		</div>
		<div class="ten columns">
			<%= f.password_field :password , :required=>true,:placeholder=>"********"%>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="two columns">
			<label class="right inline">Confirmación: </label>
		</div>
		<div class="ten columns">
			<%= f.password_field :password_confirmation , :required=>true,:placeholder=>"Vuelve a introducir tu Contraseña" %>
		</div>
	</div>
	<br />
	<div class="four columns centered">
		<%= f.submit "       Guardar       ",  :class=> "button radius" %>
	</div>
	<br />
	<br />
</fieldset>
<% end %>