<% provide(:title, 'Lecciones') %>
<div class="row">
	
<section id="contenidos" class="part clearfix">
	
		<header class="title">
			<p class="fleft">Unidades</p>
		</header>
		<aside class="column4 mright">
			
			<section class="ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="radio" checked/>
					<label for="ac-1">CONCEPTOS BASICOS</label>
					<article class="ac-small">
						<p>
							<ul id="links">
								
								<div class="mueve"><li><%= link_to 'Introducción', '#Introduccion1',:id=>"link-Introduccion1" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Inicial', '#EvaluacionInicial1',:id=>"link-EvaluacionInicial" %></li></div>
								<div class="mueve"><li><%= link_to 'Algoritmo', '#Algoritmo',:id=>"link-Algoritmo" %></li></div>
								<div class="mueve"><li><%= link_to 'Pseudocódigo', '#Pseudocodigo',:id=>"link-Pseudocodigo" %></li></div>
								<div class="mueve"><li><%= link_to 'Programa', '#Programa',:id=>"link-Programa" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Final', '#EvaluacionFinal1',:id=>"link-EvaluacionFinal" %></li></div>
							</ul>
							
						</p>
					</article>
				</div>
				
				<div>
					<input id="ac-3" name="accordion-1" type="radio" />
					<label for="ac-3">ELEMENTOS DEL LENGUAJE</label>
					<article class="ac-medium">
						<p>
							<ul id="links">								
							    <div class="mueve"><li><%= link_to 'Introducción', '#Introduccion3',:id=>"link-Introduccion" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Inicial', '#EvaluacionInicial3',:id=>"link-EvaluacionInicial" %></li></div>
								<div class="mueve"><li><%= link_to 'Palabras Reservadas', '#PalabrasReservadas',:id=>"link-Datos" %></li></div>
								<div class="mueve"><li><%= link_to 'Datos', '#Datos',:id=>"link-Literales" %></li></div>
								<div class="mueve"><li><%= link_to 'Entrada de Datos', '#EntradadeDatos',:id=>"link-EntradaYSalidadeDatos" %></li></div>
								<div class="mueve"><li><%= link_to 'Salida de Datos', '#SalidadeDatos',:id=>"link-Constantes" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Final', '#EvaluacionFinal3',:id=>"link-EvaluacionFInal" %></li></div>								
							</ul>
						</p>
					</article>
				</div>
				
				<div>
					<input id="ac-2" name="accordion-1" type="radio" />
					<label for="ac-2">COMPONENTES BASICOS</label>
					<article class="ac-large">
						<p>
							<ul id="links">
								<div class="mueve"><li><%= link_to 'Introducción', '#Introduccion2',:id=>"link-Introduccion2" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Inicial', '#EvaluacionInicial2',:id=>"link-EvaluacionInicial" %></li></div>
								<div class="mueve"><li><%= link_to 'Objetos', '#Objetos',:id=>"link-Objetos" %></li></div>
								<div class="mueve"><li><%= link_to 'Atributos', '#Atributos',:id=>"link-Atributos" %></li></div>
								<div class="mueve"><li><%= link_to 'Métodos', '#Metodos',:id=>"link-Metodos" %></li></div>
								<div class="mueve"><li><%= link_to 'Clases', '#Clases',:id=>"link-Clases" %></li></div>
								<div class="mueve"><li><%= link_to 'Creación del Objeto', '#CreacionObjeto',:id=>"link-CreacionObjeto" %></li></div>
								<div class="mueve"><li><%= link_to 'Estructura de un Programa', '#Estructura',:id=>"link-Estructura" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Final', '#EvaluacionFinal2',:id=>"link-EvaluacionFInal" %></li></div>
							</ul>
						</p>
					</article>
				</div>
						
				<div>
					<input id="ac-4" name="accordion-1" type="radio" />
					<label for="ac-4">CONTROL DE FLUJO</label>
					<article class="ac-small">
						<p>
							<ul id="links">
								<div class="mueve"><li><%= link_to 'Introducción', '#Introduccion5',:id=>"link-Introduccion4" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Inicial', '#EvaluacionInicial4',:id=>"link-EvaluacionInicial" %></li></div>
								<div class="mueve"><li><%= link_to 'Estructuras Secuenciales', '#EstructurasSecuenciales',:id=>"link-EstructurasSecuenciales" %></li></div>
								<div class="mueve"><li><%= link_to 'Estructuras Selectivas', '#EstructurasSelectivas',:id=>"link-EstructurasSelectivas" %></li></div>
								<div class="mueve"><li><%= link_to 'Estructuras Iterativas', '#EstructurasIterativas',:id=>"link-EstructurasIterativas" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Final', '#EvaluacionFinal4',:id=>"link-EvaluacionFinal" %></li></div>
							</ul>
						</p>
					</article>
				</div>
				<div>
					<input id="ac-5" name="accordion-1" type="radio" />
					<label for="ac-5">CONSEPTOS AVANZADOS</label>
					<article class="ac-large">
						<p><ul id="links">
							
								<div class="mueve"><li><%= link_to 'Introducción', '#Introduccion5',:id=>"link-Introduccion2" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Inicial', '#EvaluacionInicial5',:id=>"link-EvaluacionInicial" %></li></div>
								<div class="mueve"><li><%= link_to 'Tipos de Clases', '#Clases2',:id=>"link-Clases" %></li></div>
								<div class="mueve"><li><%= link_to 'Herencia', '#Herencia',:id=>"link-Herencia" %></li></div>
								<div class="mueve"><li><%= link_to 'Tipos de Métodos', '#TiposdeMetodos',:id=>"link-Metodos" %></li></div>
								<div class="mueve"><li><%= link_to 'Sobrecarga', '#Sobrecarga',:id=>"link-Sobrecarga" %></li></div>
								<div class="mueve"><li><%= link_to 'Polimorfismo', '#Polimorfismo',:id=>"link-Polimorfismo" %></li></div>
								<div class="mueve"><li><%= link_to 'Paquetes', '#Paquetes',:id=>"link-Paquetes" %></li></div>
								<div class="mueve"><li><%= link_to 'Evaluación Final', '#EvaluacionFinal5',:id=>"link-EvaluacionFInal" %></li></div>
							</ul></p>
					</article>
				</div>
				
			</section>
		</aside>
		
<!--///////////////////////////////////////COMPONENTES BASICOS///////////////////////////////////////-->
			
	    <!--Introduccion-->
			<section id="Introduccion1" class="panel1">
				<div class="contentLeccion">
			
					<object name="leccion1Introduccion" type="text/html" data="/Leccion1/leccion1.html"   width="755" height="580"  > </object>
				</div>

			</section>
		<!--Introduccion-->

		<!--Evaluacion inicial-->
			<section id="EvaluacionInicial1" class="panel1">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion1/evaluacion-inicial.html"   width="755" height="580"  > </object>
				</div>
			</section>
		<!--Evaluacion inicial-->

			
		<!--ALGORITMO-->
			<section id="Algoritmo" class="panel1">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion1/algoritmo.html"   width="755" height="580"  > </object>
				</div>
			</section>
		<!--ALGORITMO-->

		<!--PSEUDOCODIGO-->
			<section id="Pseudocodigo" class="panel1">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion1/pseudocodigo.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--PSEUDOCODIGO-->
		
		<!--PROGRAMA-->
			<section id="Programa" class="panel1">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion1/programa.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--PROGRAMA-->

		<!--Evaluacion Final-->
			<section id="EvaluacionFinal1" class="panel1">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--Evaluacion Final-->
		
<!--///////////////////////////////////////CONCEPTOS BASICOS///////////////////////////////////////-->				
		
		
		
		
		
<!--///////////////////////////////////////COMPONENTES BASICOS///////////////////////////////////////-->
			
	    <!--Introduccion-->
			<section id="Introduccion2" class="panel2">
				<div class="contentLeccion">
				
				<object name="leccion" id="embebido" type="text/html" data="/Leccion3/introduccion.html"   width="755" height="580"  > </object>	
				</div>

			</section>
		<!--Introduccion-->

		<!--Evaluacion inicial-->
			<section id="EvaluacionInicial2" class="panel2">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion3/ejercicio3_1.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--Evaluacion inicial-->
		<!--OBJETOS-->
			<section id="Objetos" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/objetos.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--OBJETOS-->
		<!--ATRIBUTOS-->
			<section id="Atributos" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/atributos.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--ATRIBUTOS-->
		<!--METODOS-->
			<section id="Metodos" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/metodos.html"   width="755" height="580"  > </object>
				</div>
			</section>
		<!--METODOS-->
		<!--CLASES-->
			<section id="Clases" class="panel2">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion3/clases.html"   width="755" height="580"  > </object>
				</div>
			</section>
		<!--CLASES-->
		<!--CREACION DE UN  PROGRAMA-->
			<section id="CreacionObjeto" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/constructores.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--CREACION DE UN PROGRAMA-->
		<!--ESTRUCTURA DE UN PROGRAMA-->
			<section id="Estructura" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/estrucProgra.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--ESTRUCTURA DE UN  PROGRAMA-->
		<!--Evaluacion Final-->
			<section id="EvaluacionFinal2" class="panel2">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="/Leccion3/ejercicio3_5.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--Evaluacion Final-->
		
<!--///////////////////////////////////////COMPONENTES BASICOS///////////////////////////////////////-->				
		
		
<!--///////////////////////////////////////ElEMENTOS DEL LENGUAJE///////////////////////////////////////-->
			
	    <!--Introduccion-->
			<section id="Introduccion3" class="panel3">
				<div class="contentLeccion">
				
					<object name="leccion" type="text/html" data="/Leccion3/ejercicio3_3.html"   width="755" height="580" > hola</object>	
						</div>

			</section>
		<!--Introduccion-->

		<!--Evaluacion inicial-->
			<section id="EvaluacionInicial3" class="panel3">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px"  > </object>
					
				</div>
			</section>
		<!--Evaluacion inicial-->

		<!--DATOS-->
			<section id="PalabrasReservadas" class="panel3">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--DATOS-->
			
		<!--LITERALES-->
			<section id="Datos" class="panel3">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--LITERALES-->

		<!--CONSTANTES-->
			<section id="EntradadeDatos" class="panel3">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--CONSTANTES-->
		
		<!--ENTRADA Y SALIDA DE DATOS-->
			<section id="SalidadeDatos" class="panel3">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--ENTRADA Y SALIDA DE DATOS-->

		<!--Evaluacion Final-->
			<section id="EvaluacionFinal3" class="panel3">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--Evaluacion Final-->
		
<!--///////////////////////////////////////ElEMENTOS DEL LENGUAJE///////////////////////////////////////-->		
		
		
		
<!--///////////////////////////////////////control de flujo///////////////////////////////////////-->		
		<!--Introduccion-->
			<section id="Introduccion4" class="panel4">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
				</div>

			</section>
		<!--Introduccion-->

		<!--Evaluacion inicial-->
			<section id="EvaluacionInicial4" class="panel4">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="/Leccion4_JuanCarlos/leccion4EstructurasSelectivas.html"   width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--Evaluacion inicial-->

		<!--Estructuras Secuenciales-->
			<section id="EstructurasSecuenciales" class="panel4">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
					</div>
			</section>
		<!--Estructuras Secuenciales-->
			
		<!--Estructuras Selectivas-->
			<section id="EstructurasSelectivas" class="panel4">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   width="755" height="580" border="1px" > </object>
					</div>
			</section>
		<!--Estructuras Selectivas-->

		<!--Estructuras Iterativas-->
			<section id="EstructurasIterativas" class="panel4">
				<div class="contentLeccion">
					
					<object name="leccion5iterativas" type="text/html" data="/LeccionSentenciasIterativas/leccion.html"   width="755" height="580" > </object>
				</div>
			</section>
		<!--Estructuras Iterativas-->

		<!--Evaluacion Final-->
			<section id="EvaluacionFinal4" class="panel4">
				<div class="contentLeccion">
					
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--Evaluacion Final-->
		
<!--///////////////////////////////////////control de flujo///////////////////////////////////////-->

<!--///////////////////////////////////////METODOS///////////////////////////////////////-->		
		<!--Introduccion-->
			<section id="Introduccion5" class="panel5">
				<div class="contentLeccion">
				
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>

			</section>
		<!--Introduccion-->

		<!--Evaluacion inicial-->
			<section id="EvaluacionInicial5" class="panel5">
				<div class="contentLeccion">
					<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
					
				</div>
			</section>
		<!--Evaluacion inicial-->

		<!--CLASES-->
			<section id="Clases2" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--CLASES-->
			
		<!--HERENCIA-->
			<section id="Herencia" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--HERENCIA-->

		<!--TIPOS DE METODOS-->
			<section id="TiposdeMetodos" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--TIPOS DE MEOTODOS-->
		
		<!--SOBRECARGA-->
			<section id="Sobrecarga" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--SOBRECARGA-->
		
		<!--POLIMORFISMO-->
			<section id="Polimorfismo" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--POLIMORFISMO-->
		
		<!--PAQUETES-->
			<section id="Paquetes" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--PAQUETES-->

		<!--Evaluacion Final-->
			<section id="EvaluacionFinal5" class="panel5">
				<div class="contentLeccion">
				<object name="leccion5iterativas" type="text/html" data="leccion.html"   text:width="755" height="580" border="1px" > </object>
				</div>
			</section>
		<!--Evaluacion Final-->
		
<!--///////////////////////////////////////METODOS///////////////////////////////////////-->

</section>
</div>
<!--<div id="Introduccion" class="content"></div>-->
	
