<div class=" row">
	<div class="nine columns panel" role="content">
		<div class="ten columns">
			<h2 class="subheader">Editar el contenido del Post</h2>
		</div>
		<div class="two columns">
			<%= image_tag("icono.png", alt:"SODMI")%>
		</div>
		<div class="twelve columns">
			<%= render 'form' %>
		</div>
		<br />
		<br />
		<div class="twelve columns">
			<p>
				<%= link_to 'Mostrar', @post %> |
				<%= link_to 'Atras', posts_path %>
			</p>
		</div>
	</div>
	<%= render 'layouts/aside-blog'%>
</div>