<!-- Sidebar -->

    <aside class="three columns">

      <h5>Sítios Útiles</h5>
      <ul class="side-nav">
      	<li><%= link_to("CodeSchool","http://www.codeschool.com/")%></li>
      	<li><%= link_to("CodeAcademy","http://www.codecademy.com/")%></li>
      	<li><%= link_to("NetTuts","http://net.tutsplus.com/")%></li>
      	<li><%= link_to("Mozilla","#")%></li>
      	<li><%= link_to("Edx","https://www.edx.org/")%></li>
		<li><%= link_to("Mozilla Develloper Net","https://developer.mozilla.org/en-US/learn/javascript")%></li>
		<li><%= link_to("Coursera","https://www.coursera.org/")%></li>
		<li><%= link_to("Udacity","http://www.udacity.com/")%></li>
      </ul>

      <div class="panel">
        <h5>Con SODMI Aprendes</h5>
        <p>La plataforma SODMI se diseño para que cualquier alumno pueda aprender a programar </p>
        <%= link_to "Seguir Leyendo",about_path,:class=>"button success small"%>
      </div>

    </aside>

    <!-- End Sidebar -->
 