<!-- Header and Nav -->
  <header  id="cabecera" >
  	  	<br />
  	<div class="row">

    <div class="three columns">
      <h1><%= link_to image_tag("logo.png", alt: "SODMI" ), root_path %></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar ">
        <li ><%= link_to "Inicio", root_path  %></li>
        <li><%= link_to "Nosotros", about_path%></li>
        <li><%= link_to "Lumin", lumin_path %></li>
        <li><%= link_to "Lecciones", lecciones_path %></li>
        <li><%= link_to "Contactanos", contact_path %></li>
		<% if signed_in_alumno? %>
			
				<li >
					<%= link_to "Blog", posts_path %>
				</li>
		<% else %>
			<li class= "btn_blog">
				<%= link_to "Blog", "#"%>
			</li>
		<%end%>
		<% if signed_in? %> 
				<li class="has-flyout">
					<%= link_to "Cuenta", '#' %>
					<a href="#" class="flyout-toggle"><span> </span></a>
					<ul class="flyout">
						<li>
							<%= link_to "Perfil", current_maestro %>
						</li>
						<li>
							<%= link_to "Salir", signout_path, method: "delete" %>
						</li>
					</ul>
				</li>
				<% elsif signed_in_alumno? %>
				
				<li class="has-flyout"">
				
					<%= link_to "Cuenta", "#" %>
					<a href="#" class="flyout-toggle"><span> </span></a>
					
					<ul class="flyout">
						<li>
					
							<%= link_to "Perfil", current_alumno %>
							
							
						</li>
						<li>
							<%= link_to "Salir", signoutalumno_path, method: "delete" %>
						</li>
					</ul>
				</li>
				<% else %>
				<li class="has-flyout">
					<%= link_to "Entrar", "#" %>
					<a href="#" class="flyout-toggle"><span> </span></a>
					<ul class="flyout">
						<li>
							<%= link_to "Profesor", "#",:id=> "loginMaestro"%>
						</li>
						<li>
							<%= link_to "Alumno", "#",:id=>"loginAlumno"%>
						</li>
					</ul>
				</li>
				<% end %> 
				<% if signed_in_alumno? %>
			
				<div class="one columns ">
				<%= image_tag current_alumno.avatar_url.to_s %>
			</div>
			<% elsif signed_in?%>
			<div class="one columns ">
				<%= image_tag current_maestro.avatar_url.to_s %>
			</div>
			
			<%end%>
      </ul>
    </div>
    </div>
  </header>
  <div class="shadow-down"></div>
  <!-- End Header and Nav -->
  