<aside class="column4 mright">
			
			<div id="MenuMaestro">
			  	<menu >
				<ul>
					<br />
					<div class="mueve"><li><%= link_to '-Perfíl', @maestro %> </li></div>
					
					<div class="mueve"><li><%= link_to '-Editar datos', edit_maestro_path(@maestro) %> </li></div>
					
					<div class="mueve"><li><%= link_to '-Abrir Grupo', edit_maestro_path(@maestro) %> </li></div>
					<div class="mueve"><li><%= link_to '-Modificar Grupo', edit_maestro_path(@maestro) %> </li></div>
					<div class="mueve"><li><%= link_to '-Cerrar Grupo', edit_maestro_path(@maestro) %> </li></div>
					<div class="mueve"><li><%= link_to '-Agregar Modulo', edit_maestro_path(@maestro) %> </li></div>
					<div class="mueve"><li><%= link_to '-Agregar Alumno a Grupo',edit_maestro_path(@maestro) %> </li></div>
					
				</ul>
			</menu>
			</div>
		
		</aside>